
.icompazz-wrapper {
    height: 100%;
    width: 100%;
}
.icompazz-wrapper-slider {
    height: 100%;
    width: 500%;
    position: fixed;
    left: 0;
}
.icompazz-wrapper-slider-box {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
}
.icompazz-wrapper-slider-box.bg-2 {
    background-image: url("../images/assets/bg_2.png");
}
.icompazz-wrapper-slider-box.bg-3 {
    background-image: url("../images/assets/bg_3.png");
    left: 20%;
}
.icompazz-wrapper-slider-box.bg-4 {
    background-image: url("../images/assets/bg_4.png");
    left: 40%;
}
.icompazz-wrapper-slider-box.bg-5 {
    background-image: url("../images/assets/bg_5.png");
    left: 60%;
}
.icompazz-wrapper-slider-box.bg-6 {
    background-image: url("../images/assets/bg_2.png");
    left: 80%;
}

.icompazz-form {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    z-index: 1041;
}

.icompazz-form .icompazz-logo {
    background: url('../images/assets/logo_icompazz.png') no-repeat 50% 50% transparent;
    margin-bottom: -20px;
    height: 255;
}
.icompazz-form .icompazz-logo-text {
    margin-bottom: 200px;
    color: #303030;
}
.icompazz-form .box-form {
    
}
.icompazz-form .box-form .custom-form-div {
    min-height: 210px;
    background: #fff;
    border: none;
    border-radius: 16px;
    margin: 0 auto;
    max-width: 370px;
}

.box-form h4 {
    margin: 20px 0 10px;
    color: #303030;
}
.box-form input {
    border: 4px solid #76B824;
    border-radius: 12px;
    font-size: 18px;
    margin: 15px 0;
    padding: 6px 12px;
    width: 90%;
}
.box-form button {
    background: #76B824;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
    padding: 6px 50px;
}
.box-form .popover {
    height: 100%;
    width: 100%;
}
.icompazz-form .box-form .popover {
    background: transparent;
    font-weight: 300;
    max-width: none;
    width: 100%;
}

.modal-backdrop {
    opacity: 0.4;
    background-color: #fff;
}

@media (max-width: 1200px) {
    .icompazz-form {
        top: 8%;
    }
    .icompazz-form .icompazz-logo-text {
        margin-bottom: 180px;
    }
}
@media (max-width: 992px) {
    .icompazz-form {
        top: 7%;
    }
    .icompazz-form .icompazz-logo-text {
        margin-bottom: 160px;
    }
}

@media (max-width: 414px) {
    .icompazz-form {
        top: 5%;
    }
    .icompazz-form .icompazz-logo-text {
        margin-bottom: 120px;
    }
}
@media (max-width: 375px) {
    .icompazz-form {
        top: 0;
    }
    .icompazz-form .icompazz-logo-text {
        margin-bottom: 120px;
    }
}